@model PhoneDetailVM

<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-6 col-md-8">
            <div>
                <span class="px-2">
                    <a class="breadcrub-home" asp-controller="home" asp-action="index">Home</a><span class="breadcrub-title"> | </span><span class="breadcrub-blue">
                        Product
                    </span>
                </span>
                <h1 class="breadcrumb-title">Product</h1>
            </div>
        </div>
        <div class="col-lg-6 col-md-4">
            <div class="bradcrumb-image">
                <img width="20%" src="~/assets/images/product-45.png" alt="Image">
            </div>
        </div>
    </div>
</div>
</div>
<main>

    <section>

        <div class="">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="main-product-image">
                            <div>
                                <div class="main-product-slider">
                                    <div class="slider-for">
                                        @foreach (var item in Model.Phone.PhoneImages)
                                        {
                                            <div>
                                            <img src="~/uploads/phones/@item.Name" alt="">
                                            </div>
                                        }            
                                    </div>
                                    <div class="slider-nav">
                                        @foreach (var item in Model.Phone.PhoneImages)
                                        {
                                            <div>
                                            <img src="~/uploads/phones/@item.Name" alt="">
                                            </div>
                                        }    
                                    </div>
                                    <div class="slider-for">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="main-product-info">
                            <h3>@Model.Phone.PhoneModel.Name @Model.Phone.Name @Model.Phone.Memory.Name GB</h3>
                            <div class="main-product-price">
                                @if (Model.Phone.DiscountPercent>0)
                                {
                                    <span class="fw-bold">₼@((Model.Phone.SalePrice * (100 - Model.Phone.DiscountPercent) / 100).ToString("0.00")) </span>
                                    <del>₼@Model.Phone.SalePrice </del> 
                                }
                                else{
                                    <span>₼@Model.Phone.SalePrice </span>

                                }
                               
                            </div>
                            <div>
                                <span class="main-product-icon">
                                    @for (var i = 1; i <= 5; i++)
                                    {
                                     <i class="las la-star  @(Model.Phone.AvgRate>=i?"star-on":"")"></i>
                                    }
                                    
                                </span
                                @if (Model.Phone.Reviews.Count()>0)
                                {
                                <span>(@Model.Phone.Reviews.Count() customer reviews)</span>
                                    
                                }
                                else{
                                <span>(Not customer reviews)</span>

                                }
                            </div>
                            
                                @if (Model.Phone.StockStatus)
                                {
                                    <p>In Stock</p>
                                }
                                else{
                                    <p>Out Stock</p>
                                }
                            
                            <p>Free delivery available</p>
                            <p>Sales 30% Off Use Code: MOTIVE30</p>
                            <div>
                                <p>
                                    In ornare lorem ut est dapibus, ut tincidunt nisi pretium. Integer ante est,
                                    elementum eget magna. Pellentesque sagittis dictum libero, eu dignissim tellus.
                                </p>
                            </div>
                            <div class="product-color">
                                <span>Colors:</span>
                                <input type="radio" name="color" id="color-1" checked hidden>
                                <input type="radio" name="color" id="color-2" hidden>
                                <input type="radio" name="color" id="color-3" hidden>
                                <input type="radio" name="color" id="color-4" hidden>

                                <div class="product-nav">
                                    <label for="color-1"></label>
                                    <label for="color-2"></label>
                                    <label for="color-3"></label>
                                    <label for="color-4"></label>
                                </div>
                            </div>
                            <div class="product-size">
                                <span>Size:</span>
                                <span>XS</span>
                                <span>S</span>
                                <span>M</span>
                                <span>L</span>
                                <span>XL</span>
                            </div>
                            <div class="main-product-cart">
                                <span class="btn btn-min">-</span><input type="text" value="1" readonly><span class="btn btn-min">+</span>
                                <button class="btn btn-primary">Add to Cart</button>
                                <button class="btn btn-danger">Whishlist</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-desc">
                <div class="container">
                    <ul class="nav product-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="active" id="description-tab" data-bs-toggle="tab" href="#description"
                               role="tab" aria-controls="description" aria-selected="true">Description</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a id="additional-info-tab" data-bs-toggle="tab" href="#additional-info" role="tab"
                               aria-controls="additional-info" aria-selected="false">Additional Information</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a id="reviews-tab" data-bs-toggle="tab" href="#reviews" role="tab"
                               aria-controls="reviews" aria-selected="false">Reviews</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="description" role="tabpanel"
                             aria-labelledby="description-tab">
                            <div class="product-desc">
                                <div class="row">
                                    <div class="col-lg-6 mb--30">
                                        <div class="single-desc">
                                            <h5 class="title">Specifications:</h5>
                                            <p>
                                                We’ve created a full-stack structure for our working workflow
                                                processes, were from the funny the century initial all the made,
                                                have spare to negatives. But the structure was from the funny the
                                                century rather,
                                                initial all the made, have spare to negatives.
                                            </p>
                                        </div>
                                    </div>
                                    <!-- End .col-lg-6 -->
                                    <div class="col-lg-6 mb--30">
                                        <div class="single-desc">
                                            <h5 class="title">Care & Maintenance:</h5>
                                            <p>
                                                Use warm water to describe us as a product team that creates amazing
                                                UI/UX experiences, by crafting top-notch user experience.
                                            </p>
                                        </div>
                                    </div>
                                    <!-- End .col-lg-6 -->
                                </div>
                                <!-- End .row -->
                                <div class="row">
                                    <div class="col-lg-12">
                                        <ul class="product-features">
                                            <li class="single-features">
                                                <div class="product-icon-detail">
                                                    <img src="~/assets/images/icon-3.png" alt="icon">
                                                </div>
                                                <p>Easy Returns</p>
                                            </li>
                                            <li class="single-features">
                                                <div class="product-icon-detail">
                                                    <img src="~/assets/images/icon-2.png" alt="icon">
                                                </div>
                                                <p>Quality Service</p>
                                            </li>
                                            <li class="single-features">
                                                <div class="product-icon-detail">
                                                    <img src="~/assets/images/icon-1.png" alt="icon">
                                                </div>
                                                <p>Original Product</p>
                                            </li>
                                        </ul>
                                        <!-- End .pro-des-features -->
                                    </div>
                                </div>
                                <!-- End .row -->
                            </div>
                            <!-- End .product-desc-wrapper -->
                        </div>
                        <div class="tab-pane fade" id="additional-info" role="tabpanel"
                             aria-labelledby="additional-info-tab">
                            <div class="product-additional-info">
                                <div class="table-responsive">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <th>Model</th>
                                                <td>@Model.Phone.PhoneModel.Name</td>
                                            </tr
                                            <tr>
                                                <th>Name</th>
                                                <td>@Model.Phone.Name</td>
                                            </tr>
                                            <tr>
                                                <th>RAM</th>
                                                <td>@Model.Phone.RAM.Name</td>
                                            </tr>
                                            <tr>
                                                <th>Memory</th>
                                                <td>@Model.Phone.Memory.Name</td>
                                            </tr>
                                            <tr>
                                                <th>System</th>
                                                <td>@Model.Phone.PhoneSystem.Name</td>
                                            </tr>
                                            <tr>
                                                <th>Processor</th>
                                                <td>@Model.Phone.ProcessorName.Name</td>
                                            </tr>
                                            <tr>
                                                <th>Color</th>
                                                <td>@Model.Phone.Color.Name</td>
                                            </tr>
                                            <tr>
                                                <th>Battery</th>
                                                <td>@Model.Phone.Battery.Name</td>
                                            </tr>
                                            <tr>
                                                <th>Display</th>
                                                <td>@Model.Phone.Display.Name</td>
                                            </tr>
                                            <tr>
                                                <th>Phone tag</th>
                                                <td>@Model.Phone.PhoneTag.Name</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                            <div class="reviews-wrapper">
                                <div class="row">
                                    <div class="col-lg-6 mb--40">
                                        <div class="product-commnet-area">
                                            @if (@Model.Phone.Reviews.Count()>0)
                                            {
                                            <h5 class="title">@Model.Phone.Reviews.Count() review for @Model.Phone.Name</h5>
                                                
                                            }
                                            else{
                                            <h5 class="title">Not review for @Model.Phone.Name</h5>

                                            }
                                            <ul class="comment-list">
                                                <!-- Start Single Comment  -->
                                                @foreach (var review in Model.Phone.Reviews)
                                                {
                                                <li class="comment">
                                                    <div class="comment-body">
                                                        <div class="single-comment">
                                                            <div class="comment-inner">
                                                                <h6 class="commenter">
                                                                    <a class="review-username" href="#">
                                                                        <span>
                                                                            <img width="36px" height="36px" style="border-radius:10px" src="~/uploads/userImage/@review.AppUser.Image"
                                                                     alt="User Image">
                                                                            <span>@review.AppUser.FullName</span>
                                                                        </span>
                                                                    </a>
                                                                    <span class="commenter-rating">
                                                                        @for (var i = 1; i <= 5; i++)
                                                                        {
                                                                        <i class="las la-star  @(review.Rate>=i?"star-on":"")"></i>
                                                                            
                                                                        }
                                                                    </span>
                                                                    <span class="review-time">
                                                                        <span>@review.CreatedAt.ToString("dd MMMM, yyyy")</span>
                                                                    </span>
                                                                </h6>      
                                                            </div>
                                                        </div>
                                                        <div class="comment-text">
                                                         <p> @review.Text </p>
                                                        </div>
                                                    </div>
                                                </li>
                                                }
                                            </ul>
                                            <div class="text-center">
                                                @if (Model.Phone.Reviews.Count<=3)
                                                {
                                                    
                                                }
                                                else{
                                                <a href="" class="load-more btn btn-outline-dark text-center">Load More</a>

                                                }
                                            </div>

                                        </div>
                                        <!-- End .new-commnet-area -->
                                    </div>
                                    <div class="col-lg-6 mb--40">
                                        <!-- Start Comment Respond  -->
                                        <div class="comment-respond">
                                            @if(Model.HasReview)
                                            {
                                                <h5 class="title-lg mb--20 pt--15">YOU HAVE WRITTEN A REVIEW</h5>
                                            }
                                            else{
                                                <h5 class="title mb--30">Add a Review</h5>
                                                @await Html.PartialAsync("_PhoneReviewFormPartial",Model.ReviewVM)      
                                            }
                                
                                        </div>
                                        <!-- End Comment Respond  -->
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </section>

</main>

