@model HomeVM
<main>
    <section class="center slider main_slider">
        @foreach (var slider in Model.Sliders)
        {
            <div class="main-slider-items">
        <div class="row">
          <div class="col-lg-1">
          </div>
          <div class="col-lg-6">
            <div class="slider-main">
              <span class="subtitle"><i class="fas fa-fire"></i> @slider.Title1</span>
              <h1 class="title">@slider.Title2</h1>
              <div class="row main-slider-content">
                <div class="col-lg-6">
                  <a href="~/@slider.RedirectUrl" class="btn btn-primary slider-btn">@slider.BtnText</a>
                </div>
                <div class="col-lg-6">
                  <div class="item-rating">
                    <div class="slider-author-images">
                      <img src="assets/images/author1.png" alt="Author">
                      <img src="assets/images/author2.png" alt="Author">
                      <img src="assets/images/author3.png" alt="Author">
                      <img src="assets/images/author4.png" alt="Author">
                    </div>
                    <div class="content">
                      <span class="product-rating">
                        <i class="las la-star"></i>
                        <i class="las la-star"></i>
                        <i class="las la-star"></i>
                        <i class="las la-star"></i>
                        <i class="las la-star"></i>
                      </span>
                      <span class="review-text">
                        <span>100+</span> Reviews
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="slider-image">
              <img src="~/assets/images/@slider.Image" alt="">
            </div>
          </div>
        </div>
      </div>
        }
    </section>
    <section class="main-category container">
      <h3 class="main-category-title">Show all category</h3>
      <div class="category slider">
        <div class="category-items">
          <img src="assets/images/elec-1.png">
          <p>Phones</p>
        </div>
        <div class="category-items">
          <img src="assets/images/elec-2.png">
          <p>Phones</p>

        </div>
        <div class="category-items">
          <img src="assets/images/elec-9.png">
          <p>Phones</p>

        </div>
        <div class="category-items">
          <img src="assets/images/elec-4.png">
          <p>Phones</p>

        </div>
        <div class="category-items">
          <img src="assets/images/elec-5.png">
          <p>Phones</p>

        </div>
        <div class="category-items">
          <img src="assets/images/elec-6.png">
          <p>Phones</p>

        </div>
        <div class="category-items">
          <img src="assets/images/elec-7.png">
          <p>Phones</p>

        </div>
        <div class="category-items">
          <img src="assets/images/elec-8.png">
          <p>Phones</p>

        </div>
        <div class="category-items">
          <img src="assets/images/elec-9.png">
          <p>Phones</p>

        </div>
      </div>
    </section>
    <section class="container mt-5 mb-5">
      <div class="explore-title p-3">
        <span> <i class="las la-shopping-basket"></i> Our Products</span>
        <h2 class="title">Explore our Products</h2>
      </div>
      <div class="product-one slider">
          @foreach (var phone in Model.DiscountedPhones)
          {
              <div class="items">
          <div class="product-style-one">
            <div class="content">
              <a class="product-content-image" href="#" tabindex="0">
                <img class="product-image" src="~/assets/images/@phone.PhoneImages?.FirstOrDefault(x=>x.Status==false)?.Name" alt="Product Images">
                <img class="hover-img" src="~/assets/images/@phone.PhoneImages?.FirstOrDefault(x=>x.Status==true)?.Name" alt="Product Images">
                <div class="label-block">
                    @if (true)
                    {
                        <div class="product-badget">@phone.DiscountPercent.ToString("0.##")% Off</div>
                    }
                    else{
                        <div class="product-badget">New</div>
                    }
                  
                </div>
              </a>

              <div class="product-hover-action">
                <div class="cart-action">
                  <a asp-controller="phone" asp-action="getphone" asp-route-id="@phone.Id" class="btn btn-outline-dark phone-modal-btn"
                    tabindex="0"><i class="las la-eye"></i></a>
                  <a class="btn btn-danger color-btn" href="#" tabindex="0">Add to Cart</a>
                  <a class="btn btn-outline-dark color-red" href="#" tabindex="0"><i class="las la-heart"></i></a>
                </div>
              </div>
            </div>
            <div class="product-content">
              <div class="inner">
                <div class="product-rating">
                  <span class="product-rating">
                    <i class="las la-star"></i>
                    <i class="las la-star"></i>
                    <i class="las la-star"></i>
                    <i class="las la-star"></i>
                    <i class="las la-star"></i>
                  </span>
                  <span class="rating-number">(64)</span>
                </div>
                <h5 class="title"><a href="#" tabindex="0"> @phone.PhoneModel.Name @phone.Name @phone.Memory.Name GB</a></h5>
                <div class="product-price">
                    @if (phone.DiscountPercent>0)
                   {
                       <span class="price current-price">$@((phone.SalePrice*(100-phone.DiscountPercent)/100).ToString("0.00"))</span>
                        <del class="price old-price">$@phone.SalePrice.ToString("0.00")</del>
                   }
                   else{
                       <span class="price current-price">$@phone.SalePrice.ToString("0.00")</span>
                   }
                  
                </div>
              </div>
            </div>
          </div>
        </div>
          }
      </div>
    </section>
    <section class="review-main">
      <div class="container">
        <div class="review-slider">
          <div class="review-slider-items">
            <div class="main-review">
              <div class="review-speech m-2 p-2 border review">
                <p>“ It’s amazing how much easier it has been to
                  meet new people and create instantly non
                  connections. I have the exact same personal
                  the only thing that has changed is my mind
                  set and a few behaviors. “</p>
              </div>
              <div class="review-user">
                <div class="user-image">
                  <img src="assets/images/image-1.png" alt="testimonial image">
                </div>
                <div class="user-title">
                  <span class="designation">Head Of Idea</span>
                  <h6 class="title">James C. Anderson</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="review-slider-items">
            <div class="main-review">
              <div class="review-speech m-2 p-2 border review">
                <p>“ It’s amazing how much easier it has been to
                  meet new people and create instantly non
                  connections. I have the exact same personal
                  the only thing that has changed is my mind
                  set and a few behaviors. “</p>
              </div>
              <div class="review-user">
                <div class="user-image">
                  <img src="assets/images/image-2.png" alt="testimonial image">
                </div>
                <div class="user-title">
                  <span class="designation">Head Of Idea</span>
                  <h6 class="title">James C. Anderson</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="review-slider-items">
            <div class="main-review">
              <div class="review-speech m-2 p-2 border review">
                <p>“ It’s amazing how much easier it has been to
                  meet new people and create instantly non
                  connections. I have the exact same personal
                  the only thing that has changed is my mind
                  set and a few behaviors. “</p>
              </div>
              <div class="review-user">
                <div class="user-image">
                  <img src="assets/images/image-3.png" alt="testimonial image">
                </div>
                <div class="user-title">
                  <span class="designation">Head Of Idea</span>
                  <h6 class="title">James C. Anderson</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="review-slider-items">
            <div class="main-review">
              <div class="review-speech m-2 p-2 border review">
                <p>“ It’s amazing how much easier it has been to
                  meet new people and create instantly non
                  connections. I have the exact same personal
                  the only thing that has changed is my mind
                  set and a few behaviors. “</p>
              </div>
              <div class="review-user">
                <div class="user-image">
                  <img src="assets/images/image-1.png" alt="testimonial image">
                </div>
                <div class="user-title">
                  <span class="designation">Head Of Idea</span>
                  <h6 class="title">James C. Anderson</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="review-slider-items">
            <div class="main-review">
              <div class="review-speech m-2 p-2 border review">
                <p>“ It’s amazing how much easier it has been to
                  meet new people and create instantly non
                  connections. I have the exact same personal
                  the only thing that has changed is my mind
                  set and a few behaviors. “</p>
              </div>
              <div class="review-user">
                <div class="user-image">
                  <img src="assets/images/image-2.png" alt="testimonial image">
                </div>
                <div class="user-title">
                  <span class="designation">Head Of Idea</span>
                  <h6 class="title">James C. Anderson</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="review-slider-items">
            <div class="main-review">
              <div class="review-speech m-2 p-2 border review">
                <p>“ It’s amazing how much easier it has been to
                  meet new people and create instantly non
                  connections. I have the exact same personal
                  the only thing that has changed is my mind
                  set and a few behaviors. “</p>
              </div>
              <div class="review-user">
                <div class="user-image">
                  <img src="assets/images/image-3.png" alt="testimonial image">
                </div>
                <div class="user-title">
                  <span class="designation">Head Of Idea</span>
                  <h6 class="title">James C. Anderson</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="container mt-5">
      <div class="this-title p-3">
        <span> <i class="las la-shopping-basket"></i> This Week’s</span>
        <h2 class="title">New Arrivals</h2>
      </div>
      <div class="product-one slider">
          @foreach (var phone in Model.IsNewPhones)
          {
                <div class="items">
                    <div class="product-arrival">
                        <div class="content">
                            <a class="arrival-image" href="#" tabindex="0">
                                <img class="product-image" src="assets/images/@phone.PhoneImages?.FirstOrDefault(x=>x.Status==false)?.Name" alt="Product Images">
                                <img class="hover-img" src="~/assets/images/@phone.PhoneImages?.FirstOrDefault(x=>x.Status==true)?.Name" alt="Product Images">
                                <div class="label-block">
                                    @if (phone.DiscountPercent > 0)
                                    {
                                        <div class="product-badget">@phone.DiscountPercent.ToString("0.##")% Off</div>
                                    }
                                    else
                                    {
                                        <div class="product-badget">Is New</div>
                                    }
                                </div>
                            </a>

                            <div class="product-hover">
                                <div class="cart-action">
                                    <a class="btn btn-outline-dark" href="#" data-bs-toggle="modal" data-bs-target="#quick-view-modal"
                                   tabindex="0"><i class="las la-eye"></i></a>
                                    <a class="btn btn-danger color-btn" href="#" tabindex="0">Add to Cart</a>
                                    <a class="btn btn-outline-dark color-red" href="#" tabindex="0"><i class="las la-heart"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="product-content">
                            <div class="inner">
                                <div class="product-rating">
                                    <span class="product-rating">
                                        <i class="las la-star"></i>
                                        <i class="las la-star"></i>
                                        <i class="las la-star"></i>
                                        <i class="las la-star"></i>
                                        <i class="las la-star"></i>
                                    </span>
                                    <span class="rating-number">(64)</span>
                                </div>
                                <h5 class="title"><a href="#" tabindex="0"> @phone.PhoneModel.Name @phone.Name @phone.Memory.Name GB</a></h5>
                                <div class="product-price">
                                    @if (phone.DiscountPercent > 0)
                                    {
                                        <span class="price current-price">$@((phone.SalePrice * (100 - phone.DiscountPercent) / 100).ToString("0.00"))</span>
                                        <del class="price old-price">$@phone.SalePrice.ToString("0.00")</del>
                                    }
                                    else
                                    {
                                        <span class="price current-price">$@phone.SalePrice.ToString("0.00")</span>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }


      </div>
    </section>
    <section class="most-popular">
      <div class="most-sold-product">
        <div class="container">
          <div class="product-area">
            <div class="most-title">
              <span><i class="las la-star"></i> Most Sold</span>
              <h2 class="title">Most Sold in eTrade Store</h2>
            </div>
            <div class="row row-cols-xl-2 row-cols-1">
                @foreach (var phone in Model.MostSoldPhones)
                {
              <div class="col most-item">
                <div class="most-product-list">
                  <div class="most-images">
                    <a href="#">
                      <img src="~/assets/images/@phone.PhoneImages?.FirstOrDefault(x=>x.Status==true)?.Name" alt="Item Image">
                    </a>
                  </div>
                  <div class="product-content">
                    <div class="product-rating">
                      <span class="rating-icon">
                        <i class="las la-star"></i>
                        <i class="las la-star"></i>
                        <i class="las la-star"></i>
                        <i class="las la-star"></i>
                        <i class="fal fa-star"></i>
                      </span>
                      <span class="rating-number"><span>100+</span> Reviews</span>
                    </div>
                    <h6 class="product-title"><a href="#">@phone.PhoneModel.Name @phone.Name @phone.Memory.Name GB</a></h6>
                    <div class="product-price">
                                            @if (phone.DiscountPercent > 0)
                                            {
                                                <span class="price current-price">$@((phone.SalePrice * (100 - phone.DiscountPercent) / 100).ToString("0.00"))</span>
                                                <del class="price old-price">$@phone.SalePrice.ToString("0.00")</del>
                                            }
                                            else
                                            {
                                                <span class="price current-price">$@phone.SalePrice.ToString("0.00")</span>
                                            }
                    </div>
                    <div class="product-cart">
                      <a href="cart.html" class="btn btn-outline-primary"><i class="las la-shopping-cart"></i></a>
                      <a href="wishlist.html" class="btn btn-outline-danger"><i class="las la-heart"></i></a>
                    </div>
                  </div>
                </div>
              </div>
                    
                }
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="service-whyus">
      <div class="container">
        <div class="service-title">
          <span><i class="las la-thumbs-up"></i>Why Us</span>
          <h3 class="title">Why People Choose Us</h3>
        </div>
        <div class="row service-items">
          <div class="col">
            <div class="service-why-box">
              <div class="service-icon">
                <img src="assets/images/service6.png" alt="Service">
              </div>
              <h6 class="title">Fast & Secure Delivery</h6>
            </div>
          </div>
          <div class="col">
            <div class="service-why-box">
              <div class="service-icon">
                <img src="assets/images/service7.png" alt="Service">
              </div>
              <h6 class="title">100% Guarantee On Product</h6>
            </div>
          </div>
          <div class="col">
            <div class="service-why-box">
              <div class="service-icon">
                <img src="assets/images/service8.png" alt="Service">
              </div>
              <h6 class="title">24 Hour Return Policy</h6>
            </div>
          </div>
          <div class="col">
            <div class="service-why-box">
              <div class="service-icon">
                <img src="assets/images/service9.png" alt="Service">
              </div>
              <h6 class="title">24 Hour Return Policy</h6>
            </div>
          </div>
          <div class="col">
            <div class="service-why-box">
              <div class="service-icon">
                <img src="assets/images/service10.png" alt="Service">
              </div>
              <h6 class="title">Next Level Pro Quality</h6>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="new-poster">
        <div class="container">
            <div class="row">
              @foreach (var poster in Model.BtmPromotions)
              {
                  <div class="col-lg-6">
              <div class="single-poster">
                <a href="@poster.RedirectUrl">
                  <img src="~/assets/images/@poster.Image" alt="eTrade promotion poster">
                  <div class="poster-content @(poster.Id%2==0? "content-left":"content-right")">
                    <div class="inner">
                      <h3 class="title">@poster.Title</h3>
                      <span class="sub-title">@poster.BtnText <i class="las la-long-arrow-alt-right"></i></span>
                    </div>
                  </div>
                  <!-- End .poster-content -->
                </a>
              </div>
              <!-- End .single-poster -->
            </div>
              }
            
            </div>
        </div>
      </div>
      <div class="newsletter">
        <div class="container">
          <div class="etrade-newsletter">
            <div class="newsletter-content">
              <span class="title"><i class="las la-envelope-open"></i>Newsletter</span>
              <h2 class="title">Get weekly update</h2>
              <div class="input-group newsletter-form">
                <div class="position-relative newsletter-inner">
                  <input placeholder="example@gmail.com" type="text">
                </div>
                <button type="submit" class="btn btn-dark">Subscribe</button>
              </div>
            </div>
          </div>
        </div>
        <!-- End .container -->
      </div>
    </section>
    <!-- Product Modal -->
    <div class="modal fade" id="quick-view-modal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            
            
        </div>
    </div>
  </main>