@model Phone
@{
    int selectedPage = ViewBag.Page;
    int totalPage = ViewBag.TotalPage;
    int order = (selectedPage - 1) * 5;
}
<main class="container p-2">
    <div class="d-flex justify-content-between">
        <h3>@Model.Name Reviews</h3>
    </div>
    <div class="row">
        <div class="col-lg-12 m-auto">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Fullname</th>
                        <th scope="col">Reviews</th>
                        <th scope="col">Rate</th>



                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Reviews)
                    {
                        order++;
                        <tr>
                            <th scope="row">@order</th>
                            <td>@item.AppUser.FullName</td>
                            <td>@item.Text</td>
                            <td><span class ="badge bg-info">@item.Rate point</span></td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item @(selectedPage == 1 ? "disabled":"")">
                        <a class="page-link" asp-action="index" asp-route-page="@(selectedPage-1)" tabindex="-1">Previous</a>
                    </li>
                    @for (var i = 1; i <= totalPage; i++)
                    {
                        <li class="page-item @(i==selectedPage?"active":"")"><a class="page-link" asp-action="index" asp-route-page="@i">@i</a></li>
                    }
                    <li class="page-item  @(selectedPage == totalPage ? "disabled":"") ">
                        <a class="page-link" asp-action="index" asp-route-page="@(selectedPage+1)">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</main>



