@model Phone
<div class="modal-content">
            <div class="modal-header">
                    <h5 class="modal-title" id="productModalLabel"><a href="~/phone/detail/@Model.Id">
                    @Model.PhoneModel.Name @Model.Name @Model.Memory.Name GB @Model.RAM.Name GB</a></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <div class="modal-body modal-product">
                <div class="modal-image"> 
                <a href="~/phone/detail/@Model.Id">
                <img src="~/uploads/phones/@Model.PhoneImages.FirstOrDefault(x=>x.Status==true)?.Name" alt="">
                </a>
                </div>
                <div class="product-content">
                    <div class="inner">
                        <div class="product-rating">
                            <span class="product-rating">
                        @for (var i = 1; i <= 5; i++)
                        {
                            <i class="las la-star  @(Model.AvgRate>=i?"star-on":"")"></i>
                        }

                            </span>
                            <span class="rating-number">(@Model.Reviews.Count() review)</span>
                        </div>
                        <h6 class="mt-2"> Color: @Model.Color.Name</h6>
                        <h6 class="mb-2"> System: @Model.PhoneSystem.Name</h6>

                        <div class="product-price">
                            @if (Model.DiscountPercent > 0)
                            {
                                <span class="price current-price">$@((Model.SalePrice * (100 - Model.DiscountPercent) / 100).ToString("0.00"))</span>
                                <del class="price old-price">$@Model.SalePrice.ToString("0.00")</del>
                            }
                            else
                            {
                                <span class="price current-price">$@Model.SalePrice.ToString("0.00")</span>
                            }
                        </div>
                        <div class="modal-cart mt-5">
                    <a asp-action="addtobasket" asp-controller="phone" asp-route-phoneId="@Model.Id" class="add-to-basket btn btn-danger color-btn" tabindex="0">Add to Cart</a>
                    <a asp-action="addtowishlist" asp-controller="phone" asp-route-phoneId="@Model.Id" class="add-to-wishlist btn btn-outline-dark color-red" tabindex="0"><i class="las la-heart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
