@model ShopVM
<div class="breadcrumb-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-8">
                <div>
                    <span class="px-2">
                        <a class="breadcrub-home" href="index.html">Home</a><span class="breadcrub-title"> | </span><span class="breadcrub-blue">
                            Shop
                        </span>
                    </span>
                    <h1 class="breadcrumb-title">Shop</h1>
                </div>
            </div>
            <div class="col-lg-6 col-md-4">
                <div class="bradcrumb-image">
                    <img width="20%" src="~/assets/images/product-45.png" alt="Image">
                </div>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="shop container">
        <div class="row">
            <div class="col-md-3">
                <div class="toggle-list">

                    <div class="shop-submenu">
                        <h6 class="title">PHONES</h6>
                        @foreach (var phoneModel in Model.PhoneModels)
                        {
                            <div class="form-check">
                                <input form="filter-form" type="checkbox" @(ViewBag.SelectedPhoneModelIds.Contains(phoneModel.Id)?"checked":"") name="phoneModelId" id="phoneModel-@phoneModel.Id" value="@phoneModel.Id">
                                <label class="form-check-label" for="phoneModel-@phoneModel.Id">
                                    @phoneModel.Name
                                </label>
                                    <span class="categorey-no"> - @phoneModel.Phones.Count</span>
                            </div>
                        }
                        
                    </div>
                </div>
                <div class="toggle-list">

                    <div class="shop-submenu">
                        <h6 class="title">SYSTEM</h6>
                        @foreach (var phoneSystem in Model.PhoneSystems)
                        {
                                <div class="form-check">
                                <input form="filter-form" type="checkbox" @(ViewBag.SelectedPhoneSystemIds.Contains(phoneSystem.Id)?"checked":"") name="phoneSystemId" id="phoneSystem-@phoneSystem.Id" value="@phoneSystem.Id">
                                    <label class="form-check-label" for="phoneSystem-@phoneSystem.Id">
                                    @phoneSystem.Name
                                    </label>
                                        <span class="categorey-no"> - @phoneSystem.Phones.Count</span>
                                </div>
                        }
                        
                    </div>
                </div>
                <div class="toggle-list">

                    <div class="shop-submenu">
                        <h6 class="title">MEMORY</h6>
                        @foreach (var memory in Model.Memories)
                        {
                                    <div class="form-check">
                                    <input form="filter-form" type="checkbox" @(ViewBag.SelectedMemoryIds.Contains(memory.Id)?"checked":"") name="memoryId" id="memory-@memory.Id" value="@memory.Id">
                                        <label class="form-check-label" for="memory-@memory.Id">
                                    @memory.Name GB
                                        </label>
                                            <span class="categorey-no"> - @memory.Phones.Count</span>
                                    </div>
                        }
                        
                    </div>
                </div>
                <div class="toggle-list">

                    <div class="shop-submenu">
                        <h6 class="title">RAM</h6>
                        @foreach (var ram in Model.RAMs)
                        {
                            <div class="form-check">
                                <input form="filter-form" type="checkbox" @(ViewBag.SelectedRAMIds.Contains(ram.Id)?"checked":"") name="RAMId" id="ram-@ram.Id" value="@ram.Id">
                                <label class="form-check-label" for="ram-@ram.Id">
                                    @ram.Name GB
                                </label>
                                <span class="categorey-no"> - @ram.Phones.Count</span>
                            </div>
                        }
                        
                    </div>
                </div>
                <div class="toggle-list">

                    <div class="shop-submenu">
                        <h6 class="title">PROCESSOR NAME</h6>
                        @foreach (var processorName in Model.ProcessorNames)
                        {
                            <div class="form-check">
                                <input form="filter-form" type="checkbox" @(ViewBag.SelectedProcessorNameIds.Contains(processorName.Id)?"checked":"") name="processorNameId" id="processorName-@processorName.Id" value="@processorName.Id">
                                <label class="form-check-label" for="processorName-@processorName.Id">
                                    @processorName.Name
                                </label>
                                <span class="categorey-no"> - @processorName.Phones.Count</span>
                            </div>
                        }

                       
                    </div>
                </div>
                <div class="toggle-list">

                    <div class="shop-submenu">
                        <h6 class="title">BATTERY</h6>
                        @foreach (var battery in Model.Batteries)
                        {
                            <div class="form-check">
                                <input form="filter-form" type="checkbox" @(ViewBag.SelectedBatteryIds.Contains(battery.Id)?"checked":"") name="batteryId" id="battery-@battery.Id" value="@battery.Id">
                                <label class="form-check-label" for="battery-@battery.Id">
                                    @battery.Name
                                </label>
                                <span class="categorey-no"> - @battery.Phones.Count</span>
                            </div>
                        }
                        
                    </div>
                </div>
                <div class="toggle-list">
                    <div class="shop-submenu">
                        <h6 class="title">DISPLAY</h6>
                        @foreach (var display in Model.Displays)
                        {
                            <div class="form-check">
                                <input form="filter-form" type="checkbox" @(ViewBag.SelectedDisplayIds.Contains(display.Id)?"checked":"") name="displayId" id="display-@display.Id" value="@display.Id">
                                <label class="form-check-label" for="display-@display.Id">
                                    @display.Name Inch
                                </label>
                                <span class="categorey-no"> - @display.Phones.Count</span>
                            </div>
                        }
                        
                    </div>
                </div>
                <div class="toggle-list">
                    <div class="shop-submenu">
                        <h6 class="title">COLOUR</h6>
                        <div class="d-flex">

                        @foreach (var color in Model.Colors)
                        {
                            <div class="form-check">
                                <input class="shop_check" style="background-color:@color.Name" form="filter-form" type="checkbox" @(ViewBag.SelectedColorIds.Contains(color.Id)?"checked":"") name="colorId" id="color-@color.Id" value="@color.Id">
                                <label class="form-check-label" for="color-@color.Id"></label>
                            </div>
                        }
                        </div>

                    </div>
                </div>
                <div class="toggle-list">
                    <div class="shop-submenu">
                        <h6 class="title">PRICE</h6>
                        <input name="minPrice" form="filter-form" type="hidden" id="minPriceInput" value="@ViewBag.SelectedMinPrice" />
                        <input name="maxPrice" form="filter-form" type="hidden" id="maxPriceInput" value="@ViewBag.SelectedMaxPrice" />

                        <div class="slider-box">
                            <input type="text" id="priceRange" readonly>
                            <div id="price-range" class="slider-range"></div>
                        </div>



                    </div>
                </div>
                <div class="shop-filter">
                    <form id="filter-form" method="get">
                    <button type="submit" class="btn btn-primary">FILTER</button>
                    </form>

                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="shop_sort col-lg-3 p-2 d-flex align-items-center">
                        <div class="short-by text-center">
                            <select class="form-control rounded" onchange="this.form.submit()" form="filter-form" name="sort" class="nice-select">
                                <option value="">Default Sorting</option>
                                <option value="AToZ">Sort by: A to Z</option>
                                <option value="ZToA">Sort by: Z to A</option>
                                <option value="LowToHigh">Sort by price: low to high</option>
                                <option value="HighToLow">Sort by price: high to low</option>
                            </select>
                        </div>
                    </div>
                    <div class="shop_search col-lg-6 p-2">
                        <form action="#">
                            <div class="input-group">
                            <input class="form-control rounded" form="filter-form" type="text" name="search" placeholder="Search your Phone...">
                            <button class="btn btn-outline-primary" form="filter-form" type="submit"><i class="las la-search"></i></button>
                            </div>
                        </form>
                    </div>
                    <div class="shop_show col-lg-3 p-1 d-flex align-items-center">
                        <p class="shop-desc">Showing 1-12 of @Model.Phones.Count results</p>
                    </div>
                </div>
                
                <div class="row">
                    @foreach (var phone in Model.Phones)
                    {
                    <div class="col-lg-4 col-md-6 col-sm-12 single-product">
                        <div class="shop-product">
                            <div class="items">
                                <div class="product-style-one">
                                    <div class="content">
                                        <a asp-action="detail" asp-controller="phone" asp-route-id="@phone.Id" class="product-content-image" tabindex="0">
                                                <img height="300px" class="product-image" src="~/uploads/phones/@phone.PhoneImages?.FirstOrDefault(x=>x.Status==false)?.Name" alt="Product Images">
                                                <img height="300px" class="hover-img" src="~/uploads/phones/@phone.PhoneImages?.FirstOrDefault(x=>x.Status==true)?.Name" alt="Product Images">
                                                @if (phone.StockStatus == false)
                                                {
                                                    <div class="label-block" style="background-color:red"><div class="product-badget">StoctOut</div></div>
                                                }
                                                else if (phone.DiscountPercent > 0)
                                                {
                                                    <div class="label-block"><div class="product-badget">@phone.DiscountPercent.ToString("0.##")% Off</div></div>


                                                }
                                                else
                                                {
                                                    <div class="label-block"><div class="product-badget">New</div></div>
                                                }
                                        </a>

                                            <div class="product-hover-action">
                                                <div class="cart-action">
                                                    <a asp-controller="phone" asp-action="getphone" asp-route-id="@phone.Id" class="btn btn-outline-dark phone-modal-btn"
                                                   tabindex="0"><i class="las la-eye"></i></a>
                                                    <a asp-action="addtobasket" asp-controller="phone" asp-route-phoneId="@phone.Id" class="add-to-basket btn btn-danger color-btn" tabindex="0">Add to Cart</a>
                                                    <a asp-action="addtowishlist" asp-controller="phone" asp-route-phoneId="@phone.Id" class="add-to-wishlist btn btn-outline-dark color-red" tabindex="0"><i class="las la-heart"></i></a>
                                                </div>
                                            </div>
                                    </div>
                                        <div class="product-content">
                                            <div class="inner">
                                                <div class="product-rating">
                                                    <span class="product-rating">
                                                        @for (var i = 1; i <= 5; i++)
                                                        {
                                                            <i class="las la-star  @(phone.AvgRate>=i?"star-on":"")"></i>
                                                        }
                                                    </span>
                                                    @if (@phone.Reviews.Count > 0)
                                                    {
                                                        <span class="rating-number">(@phone.Reviews.Count reviews)</span>
                                                    }
                                                    else{
                                                        <span class="rating-number">(Not review)</span>

                                                    }
                                                </div>
                                                <h6 class="title"><a asp-action="detail" asp-controller="phone" asp-route-id="@phone.Id" tabindex="0"> @phone.PhoneModel.Name @phone.Name @phone.Memory.Name GB</a></h6>
                                                <div class="product-price">
                                                    @if (phone.DiscountPercent > 0)
                                                    {
                                                        <span class="price current-price">₼@((phone.SalePrice * (100 - phone.DiscountPercent) / 100).ToString("0.00"))</span>
                                                        <del class="price old-price">₼@phone.SalePrice.ToString("0.00")</del>
                                                    }
                                                    else
                                                    {
                                                        <span class="price current-price">₼@phone.SalePrice.ToString("0.00")</span>
                                                    }

                                                </div>
                                            </div>
                                        </div>

                                </div>
                            </div>
                        </div>
                    </div>
                        
                    }         
                        @if (Model.Phones.Count<=12)
                        {
                            
                        }
                        else{
                            <a href="" class="load-more btn btn-outline-dark text-center">Load More</a>
                        }
                </div>

            </div>
        </div>
    </div>
</section>
<div class="newsletter">
    <div class="container">
        <div class="etrade-newsletter">
            <div class="newsletter-content">
                <h1 class="title">
                    Best site to buy phones
                </h1>
            </div>
        </div>
    </div>
</div>
 @section Scripts{
    <script>
               $(function () {
            $("#price-range").slider({
                step: 1,
                range: true,
                min: @Model.MinPrice,
                max: @Model.MaxPrice,
                values: [@ViewBag.SelectedMinPrice, @ViewBag.SelectedMaxPrice],
                slide: function (event, ui) { $("#priceRange").val(ui.values[0] + " - " + ui.values[1]); },
                change: function (event, ui){
                    $("#minPriceInput").val(ui.values[0]);
                    $("#maxPriceInput").val(ui.values[1]);
                }
            });
            $("#priceRange").val($("#price-range").slider("values", 0) + " - " + $("#price-range").slider("values", 1));

        });
    </script>
}