@model AboutVM
<div class="breadcrumb-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-8">
                <div>
                    <span class="px-2">
                        <a class="breadcrub-home" href="index.html">Home</a><span class="breadcrub-title"> | </span><span class="breadcrub-blue">
                            About Us
                        </span>
                    </span>
                    <h1 class="breadcrumb-title">About Us</h1>
                </div>
            </div>
            <div class="col-lg-6 col-md-4">
                <div class="bradcrumb-image">
                    <img width="20%" src="~/assets/images/product-45.png" alt="Image">
                </div>
            </div>
        </div>
    </div>
</div>
<main>
    <div class="about-01-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-4 col-lg-6">
                    <div class="about-image">
                        <img width="100%" src="~/assets/images/@Model.Settings["About-Feature-Img-1"]" alt="About Us">
                    </div>
                </div>
                <div class="col-xl-8 col-lg-6">
                    <div class="about-content">
                        <span>@Model.Settings["About-Feature-1"]</span>
                        <h3 class="py-2">@Model.Settings["About-Feature-Title-1"]</h3>
                        <span>
                            @Model.Settings["About-Feature-Desc-1"]
                        </span>
                        <div class="row">
                            <div class="col-xl-6">
                                <p class="py-2">
                                    @Model.Settings["About-Feature-Part-1"]
                                </p>
                            </div>
                            <div class="col-xl-6">
                                <p class="py-2">
                                    @Model.Settings["About-Feature-Part-2"]
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-info-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="about-info-box text-center">
                        <div class="py-3">
                            <img src="~/assets/images/@Model.Settings["Info-box-img-1"]">
                        </div>
                        <div class="content">
                            <h6 class="title">@Model.Settings["Info-box-title-1"]</h6>
                            <p>
                                @Model.Settings["Info-box-desc-1"]
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="about-info-box text-center">
                        <div class="py-3">
                            <img src="~/assets/images/@Model.Settings["Info-box-img-2"]">
                        </div>
                        <div class="content">
                            <h6 class="title">@Model.Settings["Info-box-title-2"]</h6>
                            <p>
                                @Model.Settings["Info-box-desc-2"]
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="about-info-box text-center">
                        <div class="py-3">
                            <img src="~/assets/images/@Model.Settings["Info-box-img-3"]">
                        </div>
                        <div class="content">
                            <h6 class="title">@Model.Settings["Info-box-title-3"]</h6>
                            <p>
                                @Model.Settings["Info-box-desc-3"]
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="container team-area">
        <div class="section-title-wrapper">
            <span> Our Team</span>
            <h3>Expart Management Team</h3>
        </div>
        <div class="multiple-items">
            @foreach (var team in Model.Teams)
            {
                <div class="single-team-item">
                    <div class="team-image">
                        <img src="~/uploads/team/@team.Image" alt="">
                    </div>
                    <div class="team-title">
                        <span class="subtitle">@team.Position</span>
                        <h5>@team.Name</h5>
                    </div>
                </div>
            }
        </div>
    </section>
    <div class="feature-about">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <div class="feature-about-image my-3">
                        <img src="~/assets/images/@Model.Settings["About-Feature-Img-2"]" alt="about">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="about-content content-right">
                        <span class="subtitle">
                            @Model.Settings["About-Feature-2"]
                        </span>
                        <h4 class="title">
                            @Model.Settings["About-Feature-Title-2"]
                        </h4>
                        <p>
                            @Model.Settings["About-Feature-Desc-2"]
                        </p>
                        <a href="contact.html" class="btn btn-primary">Get In Touch</a>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-5 order-lg-2">
                    <div class="feature-about-image my-3">
                        <img src="~/assets/images/@Model.Settings["About-Feature-Img-3"]" alt="about">
                    </div>
                </div>
                <div class="col-lg-7 order-lg-1">
                    <div class="about-content content-left">
                        <span class="subtitle">
                            @Model.Settings["About-Feature-3"]
                        </span>
                        <h4 class="title">
                            @Model.Settings["About-Feature-Title-2"]
                        </h4>
                        <p>
                            @Model.Settings["About-Feature-Desc-3"]
                        </p>
                        <a href="contact.html" class="btn btn-primary">Get In Touch</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="newsletter">
        <div class="container">
            <div class="etrade-newsletter">
                <div class="newsletter-content">
                    <h1 class="title">
                        Best site to buy phones
                    </h1>
                </div>
            </div>
        </div>
    </div>
</main>
    